Source: ros-verystable-tinydir-vendor
Section: misc
Priority: optional
Maintainer: AWS RoboMaker <ros-contributions@amazon.com>
Build-Depends: debhelper (>= 9.0.0), cmake, ros-verystable-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-verystable-tinydir-vendor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-verystable-ros-workspace
Description: CMake shim over tinydir: https://github.com/cxong/tinydir/
